

#bodyContent .container a[href ^="https://"], .link-https {
  padding: 0;
}

body {
font-size: 1rem;
}

#HQ_page {
margin-bottom: -2em;
}

#globalWrapper #content {
width: 100%;
padding: 0;
margin: 0;
}

#content #top_title {
display: none;
}

#globalWrapper #top_menu_under {
display: none;
}

#HQ_page p.text {
  margin-bottom: 0.8em;
  font-family: inherit;
    font-size: inherit;
    text-align: inherit;
}

ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*iGEM Team Moscow Styles*/

#HQ_page #team-moscow-content h1, h2, h3, h4, h5 {
font-family: 'Open Sans', sans-serif;
color: inherit;
overflow: visible;
}
#HQ_page #team-moscow-content {
font-family: 'Open Sans', sans-serif;
}
#HQ_page #team-moscow-content a {
  color: inherit;
  text-decoration: none;
}

#HQ_page #team-moscow-content th {
}

#team-moscow-content h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
padding: 0;
}

#team-moscow-content {
  font-family: 'Open Sans', sans-serif;
}

#team-moscow-content a {
  color: inherit;
  text-decoration: none;
}

#team-moscow-content .container {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
padding: 0 20px;
}


#team-moscow-content .row {
  display: flex;
  flex-direction: row;
}
#team-moscow-content .column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#team-moscow-content .header {
  background-color: #656765;
  background-image: linear-gradient(rgb(231,215,170,0.1), rgba(231,215,170, 0.2)), url(https://2021.igem.org/wiki/images/b/b3/T--Moscow--templateBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#team-moscow-content.default .header {
  background-image: linear-gradient(rgb(231,215,170,0.1), rgba(231,215,170, 0.2)), url(https://2021.igem.org/wiki/images/e/e4/T--Moscow--homeBg.jpg);
}

#team-moscow-content .header .menu {
  background-color: rgba(255, 255, 255, 0.2);
}

#team-moscow-content .header .nav .nav-menu {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin: 0;
  justify-content: space-between;
  color: #fff;
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}


#team-moscow-content .header .nav .nav-menu .nav-menu-item {
  margin: 0 10px;
}

#team-moscow-content .header .nav .nav-menu .nav-menu-item > ul {
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 10px;
  background-color: #656765;
  text-transform: none;
  margin: 0;
}

#team-moscow-content .header .nav .nav-menu .nav-menu-item > ul > li {
  margin-top: 8px;
}

#team-moscow-content .header .nav .nav-menu .nav-menu-item:hover > ul {
  display: flex;
}

@media (max-width: 768px) {
  #team-moscow-content .header .nav .nav-menu {
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  #team-moscow-content .header .nav .nav-menu {
    font-size: 18px;
    flex-wrap: wrap;
  }
}

#team-moscow-content .header .title {
  padding-top: 90px;
  padding-bottom: 144px;
}

#HQ_page #team-moscow-content .header h1.heading1,
#team-moscow-content .header h1.heading1 {
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.1;
}

#team-moscow-content .bg-dark-img {
  background-image: linear-gradient(rgba(0,0,0,0) 70%, rgba(255,255,255,1) 100%), url(https://2021.igem.org/wiki/images/b/be/T--Moscow--bg.jpg);
  background-position: top;
  background-size: cover;
  color: #fff;
}

#team-moscow-content .container .btn {
  background: #B0B0B0;
  padding: 23px 83px;
  border-radius: 30px;
  color: #fff;
  align-self: center;
}
#team-moscow-content .container .btn:hover {
  background: #929292;
}

#team-moscow-content .footer {
  background-color: #B0B0B0;
  padding-bottom: 20px;
}

#team-moscow-content .footer .footer-text {
  padding-top: 17px;
  padding-bottom: 21px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.04em;
}

#team-moscow-content .footer .nav {
  background-color: #E5E5E5;
}

#team-moscow-content .footer .nav .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #4F4F4F;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

table {
	border-collapse: collapse;
	text-align: left;
	font-size: 90%;
}
table caption {
	font-family:'Arial', sans-serif;
	line-height:1.5;
	font-size: 95%;
	text-align: left;
	margin-bottom: 10px;
}
th {
	border-bottom: 2px solid #FFD402;
	padding: 10px 8px;
}
td {
	border-bottom: 1px solid #FFD402;
	border-top: 1px solid #FFD402;
	padding: 10px 8px;
}
tfoot tr td {
	border-top: 1px solid #FFD402;
	padding: 10px 8px;
}

#team-moscow-content .footer .nav .nav-menu .nav-menu-item > a {
  font-weight: bold;
}

#team-moscow-content.default #main-container > .wrapper-columns {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40vh;
}

#team-moscow-content.default #main-container > .wrapper-columns .main {
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  background-color: #898989;
  color: #fff;
}

#team-moscow-content.default #main-container > .wrapper-columns .main .heading2 {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #898989;
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-shadow: #fff 1px 0, #fff .540302px .841471px, #fff -.416147px .909297px, #fff -.989992px .14112px, #fff -.653644px -.756802px, #fff .283662px -.958924px, #fff .96017px -.279415px;
}

#team-moscow-content.default #main-container > .wrapper-columns .aside {
  margin-right: 30px;
  max-width: 20%;
}


#team-moscow-content.default #main-container > .wrapper-columns .left-menu {
  position: sticky;
  top: 40px;
}

#team-moscow-content.default #main-container > .wrapper-columns .left-menu li {
  margin: 20px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #9e9e9e;
  display: flex;
  cursor: pointer;
}

#team-moscow-content.default #main-container > .wrapper-columns .left-menu li.active,
#team-moscow-content.default #main-container > .wrapper-columns .left-menu li:hover {
  color: #000;
}

#team-moscow-content.default #main-container > .wrapper-columns .left-menu li::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: -2px;
  background-color: #9e9e9e;
  flex-shrink: 0;
}

#team-moscow-content.default #main-container > .wrapper-columns .left-menu li.active::before {
  background-color: #ffd402;
}

#team-moscow-content .header .logo {
  background-color: #dfdfdfd5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 26px;
}

#team-moscow-content .header .logo img {
  width: 100%;
  max-width: 687px;
}

#team-moscow-content .header .slogan {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  padding-top: 82px;
  padding-bottom: 123px;
line-height: 1;
}

#team-moscow-content .heading2.common-symptoms,
#team-moscow-content .heading3 {
  font-weight: bold;
  color: #12171A;
  text-shadow: #fff 1px 0, #fff .540302px .841471px, #fff -.416147px .909297px, #fff -.989992px .14112px, #fff -.653644px -.756802px, #fff .283662px -.958924px, #fff .96017px -.279415px;
}

#team-moscow-content .heading3 {
  margin-bottom: 50px;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#team-moscow-content .wrapper-columns .heading3 {
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0;
    text-shadow: none;
    color: inherit;
    margin-top: 32px;
}

#team-moscow-content .heading2.common-symptoms {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1rem;
}

#team-moscow-content .part1 .row1 .column {
  width: 50%;
  padding: 70px 58px;
  margin-top: 20px;
}

#team-moscow-content .big-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

#team-moscow-content .part1 .row1 .column:nth-child(1) {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

#team-moscow-content .part1 .row1 .column:nth-child(2) {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}

#team-moscow-content .icon {
  margin-bottom: 30px;
}

#team-moscow-content .icon.icon1 {
  width: 72px;
  height: 72px;
  background-image: url(https://2021.igem.org/wiki/images/1/13/T--Moscow--icon1.png);
}

#team-moscow-content .icon.icon2 {
  margin-top: 30px;
  width: 74px;
  height: 74px;
  background-image: url(https://2021.igem.org/wiki/images/2/26/T--Moscow--icon2.png);
}

#team-moscow-content .part1 .row2 {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding-left: 20px;
}

#team-moscow-content .part1 .row3 {
  justify-content: space-between;
}

#team-moscow-content .part1 .row3 .column {
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 32%;
  padding: 15px;
}

#team-moscow-content .part1 .row3 .column h4 {
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  height: 105px;
}

#team-moscow-content .part1 .row3 .column .icon {
  width: 63px;
  height: 62px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

#team-moscow-content .part1 .row3 .column .icon.icon3 {
  background-image: url(https://2021.igem.org/wiki/images/d/d7/T--Moscow--icon3.png);
}

#team-moscow-content .part1 .row3 .column .icon.icon4 {
  background-image: url(https://2021.igem.org/wiki/images/4/43/T--Moscow--icon4.png);
}

#team-moscow-content .part1 .row3 .column .icon.icon5 {
  background-image: url(https://2021.igem.org/wiki/images/0/08/T--Moscow--icon5.png);
}



#team-moscow-content .part1 .row3,
#team-moscow-content .part1 .row4 {
  font-size: 24px;
  line-height: 33px;
}

#team-moscow-content .part1 .row4 .column {
  width: 60%;
  padding-left: 15px;
}

#team-moscow-content .part1 .row4 .column p {
  margin-top: 1em;
}

#team-moscow-content .part1 .row4::before {
  content: '';
  position: absolute;
  right: 0;
  width: 303px;
  height: 635px;
  background-image: url(https://2021.igem.org/wiki/images/2/2a/T--Moscow--white-bg.png);
}

#team-moscow-content .part1 .row4 {
  padding-top: 1em;
  padding-bottom: 5em;
}

#team-moscow-content .part1 .row5 {
  color: #4F4F4F;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  align-items: center;
}
#team-moscow-content .part1 .row5 .column {
  margin-left: auto;
  width: 70%;
}

#team-moscow-content .part1 .row5 .yellow {
  color: #FFD402;
}
#team-moscow-content .part1 .row5::before {
  content: '';
  position: absolute;
  left: 0;
  width: 263px;
  height: 512px;
  background-image: url(https://2021.igem.org/wiki/images/6/69/T--Moscow--yellow-bgh.png);
}

#team-moscow-content .part2 {
  margin-top: 40px;
}


#team-moscow-content .part2 .heading2,
#team-moscow-content .part4 .heading2 {
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #4F4F4F 1px 0, #4F4F4F .540302px .841471px, #4F4F4F -.416147px .909297px, #4F4F4F -.989992px .14112px, #4F4F4F -.653644px -.756802px, #4F4F4F .283662px -.958924px, #4F4F4F .96017px -.279415px;
}

#team-moscow-content .part4 .heading2 {
  display: flex;
  justify-content: space-evenly;
}

#team-moscow-content .slider .item {
  box-sizing: border-box;
  width: 32%;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(133, 133, 133, 0.2);
  padding: 0 17.5px 20px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.25px;
  color: #4F4F4F;
}

#team-moscow-content .slider .item.hide {
  display: none;
}

#team-moscow-content .slider {
  padding: 10px 5px;
}

#team-moscow-content .slider h5 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.2px;
}

#team-moscow-content .slider .slider-content {
  width: 100%;
  margin-bottom: 17px;
}

#team-moscow-content .slider .row {
  width: 100%;
  justify-content: space-between;
}

#team-moscow-content .slider .arrow {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(133, 133, 133, 0.2);
  border-radius: 4px;
  background-image: url(https://2021.igem.org/wiki/images/5/50/T--Moscow--arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#team-moscow-content .slider .arrow.arrow-right {
  transform: scaleX(-1);
}

#team-moscow-content .slider .arrow.disabled {
  cursor: default;
  opacity: 0;
}

#team-moscow-content .icon6 {
  width: 140px;
  height: 144.38px;
  background-image: url(https://2021.igem.org/wiki/images/2/27/T--Moscow--icon6.png);
}

#team-moscow-content .icon7 {
  width: 140px;
  height: 145.52px;
  background-image: url(https://2021.igem.org/wiki/images/6/67/T--Moscow--icon7.png);
}

#team-moscow-content .icon8 {
  width: 140px;
  height: 144.52px;
  background-image: url(https://2021.igem.org/wiki/images/1/19/T--Moscow--icon8.png);
}

#team-moscow-content .part4 .icon {
  margin-right: 30px;
  margin-bottom: 0;
  flex-shrink: 0;
}

#team-moscow-content .part4 .project {
  align-items: center;
  width: 50%;
  font-size: 24px;
  line-height: 33px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #5A5A5A;
}

#team-moscow-content .part4 .project.project1 {
  margin-right: auto;
}

#team-moscow-content .part4 .project.project2 {
  margin-right: auto;
  margin-left: auto;
}

#team-moscow-content .part4 .project.project3 {
  margin-left: auto;
}

#team-moscow-content .part5 {
  margin-top: 65px;
  margin-bottom: 40px;
}

#team-moscow-content .part5 .column {
  box-sizing: border-box;
  width: 49%;
}

#team-moscow-content .part5 .column img {
  width: 100%;
}

#team-moscow-content .part5 .big-text {
  margin-bottom: 20px;
}

#team-moscow-content .part5 .column:nth-child(1) {
  padding-right: 100px;
}

#team-moscow-content .footer #bottom-home {
  display: none;
}

#team-moscow-content .footer .nav-menu-dropdown {
  font-size: 12px;
  line-height: 22px;
  margin: 0;
}

#team-moscow-content .footer .nav-menu-item {
  margin-right: 20px;
}

#team-moscow-content .footer .nav-menu-item:last-child {
  margin-right: 0;
}

#team-moscow-content #main-content ul {
  list-style-type: disc;
}
#team-moscow-content #main-content ol {
  list-style: auto;
}

#team-moscow-content .left-menu:hover {
  color: inherit;
  background-color: inherit;
}

#team-moscow-content table {
  border-collapse: collapse;
  text-align: left;
  font-size: 90%;
}
#team-moscow-content table caption {
  font-family:'Arial', sans-serif;
  line-height:1.5;
  font-size: 95%;
  text-align: left;
  margin-bottom: 10px;
}
#team-moscow-content th {
  border-bottom: 2px solid #FFD402;
  padding: 10px 8px;
}
#team-moscow-content td {
  border-bottom: 1px solid #FFD402;
  border-top: 1px solid #FFD402;
  padding: 9px 8px;
}
#team-moscow-content tfoot tr td {
  border-top:2px solid #FFD402;
  padding: 10px 8px;
}

#team-moscow-content .col1 {
  font-weight: bold;
}

#team-moscow-content .members-container #nav-left {
  display: none;
}

#team-moscow-content.default #main-container > .wrapper-columns.members-container .main {
  width: 100%;
}
#team-moscow-content .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#team-moscow-content .member-item {
  margin: 2%;
}

#team-moscow-content .member-text {
  margin-top: 6%;
  line-height: 1.3;
}

#team-moscow-content .member-education,
#team-moscow-content .member-about {
  font-size: 85%;
}

#team-moscow-content .member-image {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  background-color: #fff;
}

#team-moscow-content .member-name {
  font-weight: bold;
}

@media (max-width: 1240px) {
  #team-moscow-content .container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  #team-moscow-content .container {
    max-width: 760px;
  }

  #team-moscow-content .footer .nav .nav-menu {
    flex-wrap: wrap;
  }
}

@media (max-width: 980px) {
  #team-moscow-content .part1 .row1 {
    flex-direction: column;
  }

  #team-moscow-content .part1 .row1 .column {
    width: 100%;
  }

  #team-moscow-content .part1 .row1 .column:nth-child(1) {
    border-right: 1px solid #fff;
  }
  #team-moscow-content .part1 .row1 .column:nth-child(2) {
    margin-top: 0;
  }

  #team-moscow-content .part1 .row3 {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }

  #team-moscow-content .part1 .row3 .column {
    width: 45%;
    margin: 10px;
    padding: 15px;
  }
}

@media (max-width: 760px) {
  #team-moscow-content .part1 .heading3, 
  #team-moscow-content .part2 .heading2, 
  #team-moscow-content .part4 .heading2 {
    font-size: 8vw;
    line-height: 1.1;
  }

  #team-moscow-content .container {
    max-width: 90%;
  }



  #team-moscow-content .part1 .row4 .column {
    width: 100%;
    color: #000;
  }

  #team-moscow-content .part1 .row4::before {
    background: none;
  }

  #team-moscow-content .part1 .row5 .column {
    width: 100%;
  }

  #team-moscow-content .part1 .row5::before {
    background: none;
  }

  #team-moscow-content .slider .item {
    width: 48%;
  }

  #team-moscow-content .part1 .row3 .column {
    width: 100%;
  }

}

@media (max-width: 600px) {
  #team-moscow-content .part1 .row1 .column {
    padding: 38px 18px;
  }


  #team-moscow-content .heading2.common-symptoms {
    font-size: 45px;
    line-height: 54px;
  }

  #team-moscow-content .part4 .project {
    width: 100%;
  }

  #team-moscow-content .part5 .row {
    flex-direction: column;
  }

  #team-moscow-content .part5 .column,
  #team-moscow-content .part5 .column:nth-child(1) {
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  #team-moscow-content .slider .item {
    width: 100%;
  }
}
